.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--first-title-color);
  text-align: center;
  padding: 200px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-bottom: 30px;
  margin: auto;
}

.hero__btn {
  margin-top: 30px;
  }

